body{line-height:30px;color:#444444;font-size:16px;font-family: 'Sarala', sans-serif;font-weight:400;}
p{text-align:justify;}
ul, ol{list-style: none;-webkit-padding-start:0px;-moz-padding-start:0px;}
a{color:#27B3E2;}
a:hover, a:active, a:focus{text-decoration:none;color:#5a163f;}
::selection{color:#FFF;background:#27B3E2;}
.margin-top-30{margin-top:30px;}
.margin-auto{margin:auto;}
.clr{clear:both;}
.bg-styles{background-size:cover !important;background-position:center !important;}
.inline {display: inline-block;}
*{outline:none !important;}
.left-md-center, .right-md-center{text-align:center;}
.left-md-center img, .right-md-center img{margin:auto;}
.padding-0{padding:0;}
.inline-img{float:none;}
.text-center img{margin:auto;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{color:#27B3E2;}
.text-center img{margin:auto;}

.fixed-social{position:fixed;top:50%;right:0;transform:translateY(-50%);z-index: 99999999999999;background:#006e88;margin:0;border-radius:6px 0 0 6px;overflow:hidden;}
.fixed-social li a{padding: 5px 0;display:block;color:#FFF;width:40px;height:40px;text-align:center;vertical-align:middle;transition:.3s;}
.fixed-social li{border-bottom: 1px solid #005f75;}.fixed-social li:last-child{border-bottom:none;}
.fixed-social li a:hover, .fixed-social li a:active, .fixed-social li a:focus{background:#5a163f;}
.top-bar{padding:2px 0;background:#27B3E2;}
.fixed-area{background-color: #FFFFFF}
/*.logo-area{}
.logo-header img{max-height: 104px;margin: 6px auto;}*/
.logo-text img{max-height:100px;}
@media(min-width:992px){.logo-text img{margin-top:34px;} }

.nav-con{z-index:999;background:#27B3E2;}
.navbar{min-height:50px;border:none;z-index:9;box-sizing:border-box;text-transform:uppercase;margin:0;/* overflow:hidden */}

.navbar-default{background-color: #27B3E2;}
.navbar-header{text-align:center;}
.navbar-toggle{margin: 13px auto;float:none;}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle{background:none;border:none}
.navbar-default .navbar-toggle .icon-bar{background:#FFF}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#1a3644}
.navbar-default .navbar-nav>li>a{color:#fff;text-align:center;transition:.3s;margin-top:3px;margin-bottom:3px;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{color: #ffffff;background: #123784;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#FFF;background:#1a3644}
.dropdown-menu{background-color:#123784;border: 1px solid #ffb631;min-width:100%;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{color:#ffffff;text-decoration:none;background-color:#1a3644;}
.navbar-default .navbar-brand{padding:0;visibility:hidden;}
.navbar-fixed-top .navbar-default .navbar-brand{visibility:visible;}
.navbar-brand>img{height: 59px;}
@media(min-width:768px){
.navbar { border-radius: 0;}
.navbar-nav>li {float:none;display:inline-block;margin: 0 -2px;}
.navbar-nav>li>a {padding-top:17px;padding-bottom:16px;}
.navbar-nav {margin: 0;float: none;text-align: center;margin-left:-15px;}
.navbar-header{}
.navbar-default{background-color:transparent;}
.navbar-default .navbar-nav>li>a{font-size: 13px;padding-left:6px;padding-right:6px;}
}
@media(min-width:992px){
.navbar-default .navbar-nav>li>a{font-size:16px;}
}
@media(min-width:1200px){
.navbar-default .navbar-nav>li>a{font-size:16px;padding-left:15px;padding-right:15px;}
}
@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;text-align:center;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color: #fad00c;background-color:transparent;}
}

.slider-con{position:relative;z-index:0;border-bottom: 6px solid #27B3E2;}
.bs-slider{overflow:hidden;position:relative;background:#000;width: 100%;}
.bs-slider:hover{cursor:-moz-grab;cursor:-webkit-grab}
.bs-slider:active{cursor:-moz-grabbing;cursor:-webkit-grabbing}
.bs-slider-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.0)}
.bs-slider > .carousel-inner > .item > img,.bs-slider > .carousel-inner > .item > a > img{margin:auto;width:100%!important}
.fade{opacity:1}
.fade .item{/*height:640px;*/top:0;z-index:1;opacity:0;width:100%;position:absolute;left:0!important;display:block!important;-webkit-transition:opacity ease-in-out 1s;-moz-transition:opacity ease-in-out 1s;-ms-transition:opacity ease-in-out 1s;-o-transition:opacity ease-in-out 1s;transition:opacity ease-in-out 1s;background-size:cover;background-position:center;}
.fade .item:first-child{top:auto;position:relative}
.fade .item.active{opacity:1;z-index:2;-webkit-transition:opacity ease-in-out 1s;-moz-transition:opacity ease-in-out 1s;-ms-transition:opacity ease-in-out 1s;-o-transition:opacity ease-in-out 1s;transition:opacity ease-in-out 1s}
.control-round .carousel-control{top:47%;opacity:0;width:45px;height:72px;z-index:100;color:#fff;display:block;font-size:30px;cursor:pointer;overflow:hidden;line-height:72px;text-shadow:none;position:absolute;font-weight:400;background:transparent;-webkit-border-radius:100px;border-radius:4px}
.control-round:hover .carousel-control{opacity:1}
.control-round .carousel-control.left{left:1%}
.control-round .carousel-control.right{right:1%}
.control-round .carousel-control.left:hover,.control-round .carousel-control.right:hover{color:#fdfdfd;background:rgba(0,0,0,0.5);border:0 transparent}
.control-round .carousel-control.left>span:nth-child(1){left:45%}
.control-round .carousel-control.right>span:nth-child(1){right:45%}
.indicators-line > .carousel-indicators{right:0;bottom:3%;left:auto;width:100%;height:20px;font-size:0;overflow-x:auto;overflow-y:hidden;padding-left:10px;padding-right:10px;padding-top:1px;white-space:nowrap;text-align:center}
.carousel-indicators li{width:25px;height:6px;background-color: #27B3E2;border:none;border-radius:0;margin:0 5px 0 0;transition:.3s;}
.carousel-indicators .active{width:25px;height:6px;background-color: #123784;border:none;margin:0 5px 0 0;}
.slide_style_left{/*IdeaWorldWeb.com*/text-align:left!important}
.slide_style_right{text-align:right!important}
.slide_style_center{text-align:center!important}
.slide-text{margin:auto;text-align:left;padding:140px 0;}
.slide-text h1{padding:0;color: #27B3E2;font-size:54px;font-style:normal;margin-bottom:30px;margin-top:0;letter-spacing:1px;display:inline-block;-webkit-animation-delay:.4s;animation-delay:.4s;}
.slide-img{-webkit-animation-delay:.4s;animation-delay:.4s;}
.slide-text p {/* padding:0; *//* color: #ffffff; */font-size: 20px;/* line-height: 30px; */text-align: left;/* font-weight:300; *//* margin-bottom:40px; *//* letter-spacing:1px; */-webkit-animation-delay:1.1s;animation-delay: .7s;/* text-shadow:1px 1px 1px #000000d1; */}
@media (max-width: 991px) {
/*.fade .item{height:500px;}*/
.slide-text h1{/* font-size: 54px; */line-height:50px;margin-bottom: 30px;}
.slide-text p{/* font-size: 36px; */}
}
@media (max-width: 768px) {
/*.fade .item{height: 330px;}*/
.slide-text{padding-top: 110px;}
.slide-text h1{font-size: 40px;line-height: 62px;margin-bottom:10px;}
.slide-text p{/* font-size: 30px; *//* line-height:20px; */margin-top: 20px;}
.control-round .carousel-control{display:none}
}
@media (max-width: 480px) {
/*.fade .item{height:380px;}*/
.slide-text{padding-top:150px;}
.slide-text h1{font-size: 36px;line-height:25px;margin-bottom:5px;}
.slide-text p{font-size: 16px;line-height:18px;margin-top: 10px;}
.slide-text a.btn-default,.slide-text a.btn-primary{font-size:10px;line-height:10px;margin-right:10px;text-align:center;padding:10px 15px}
.indicators-line .carousel-indicators{display:none}
}

iframe {border: none}
.video-box{/* margin-top:30px; */position:relative;}
.video-a{display:block;cursor:pointer;position:relative;}
.video-box .video-play{position:absolute;top:15px;left:15px;opacity:.6;transition:.3s;font-size:54px;color:#F00;}
.video-box:hover .video-play, .video-box:active .video-play, .video-box:focus .video-play{opacity: .9;}
.video-box .modal-content { -webkit-box-shadow: none; box-shadow: none; background:transparent; border:none; outline:none;}
.video-box .modal-content iframe { border:none; padding:0; margin:0;}
.video-box .close { font-size: 80px; margin:-20px 0 0 0;}
.video-box iframe {height:350px;}
/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .video-box .modal-body{height:100px;padding:0;margin:0;}
    .video-box .modal-content{padding:0;margin:0;}
    .video-box .modal-dialog{position:relative;width:auto;margin:15px;}
    .video-box .close{margin:-12px 0 0 0;}
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .video-box .close { font-size: 30px; color: white; margin:30px -43px -20px 100px;}
}
@media only screen and (min-width: 992px) {
    /***** MODAL PROPERTIES *****/
	.video-box .modal-dialog {width: 884px;}
	.video-box iframe {height:480px;}
}

.section{padding:90px 0;overflow:hidden}

.heading{text-align:center;font-size:36px;color:#0FE6F0;padding-bottom:30px;margin-bottom:30px;display:inline-block;position:relative;background:url(../images/heading-bg.png) bottom no-repeat;}

.tiss-btn{background:#27B3E2;color:#FFF;padding:10px 20px;display:inline-block;transition:.3s;}
.tiss-btn:hover, .tiss-btn:focus, .tiss-btn:active{background:#123784;color:#FFF;}

.customers-section, .partners-section{background: #ffffff;padding: 60px 0 42px;}
.partners-section .heading, .customers-section .heading{}
/*.owl-carousel img{filter:grayscale(1);transition:.3s;}
.owl-carousel img:hover{filter:grayscale(0);}*/

.solutions-section{background:#eaeaea;}
.solution-box{margin-top:30px;position:relative;}
.solution-text{padding:15px;background:#ffffff;border:1px solid #bfbfbf;border-top:none;text-align:center;}
.solution-text a{color:#444;}
.solution-text a:hover, .solution-text a:active, .solution-text a:focus{color:#444;}
.solution-box:before,.solution-box:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg)}
.solution-box:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto}
.solution-img{background-size:100% 100%;background-position:center;opacity:1;transition:.3s;}
.solution-box:hover .solution-img, .event-box:hover .solution-img{background-size:110% 110%;opacity:.8;}
.solution-title h4{margin-bottom:10px;font-size:20px;}
.solution-sum p{margin:0;}


.mega-footer{padding: 90px 0 60px;background:#3e3e3e;color:#FFF;z-index:-1;border-bottom: 1px solid #333333;}
.mega-footer-title{color:#27accc;font-size:26px;border-bottom:1px solid #5d5d5d;padding-bottom:10px;margin-bottom:20px;}
.mega-footer-body li i{color:#27accc;width:16px;margin-right:4px;}
.social-footer li{display:inline-block; margin: 0 2px;}
.social-footer li a{padding:2px 2px}
.social-footer li a:hover, .social-footer li a:focus, .social-footer li a:focus{color:#FFF;}

.mega-footer .subcribe{border:1px solid rgb(2, 146, 180);padding:30px 20px;display:inline-block;width:100%;}
.mega-footer h6{margin:0px;margin-bottom:10px;font-size: 20px;}
.mega-footer .subcribe p{margin-bottom: 15px;}
.mega-footer .subcribe input{display:inline-block;width:100%;}
.mega-footer .subcribe .form-control{border-radius:0px;margin-bottom: 10px;}
.mega-footer .tiss-btn{color:#fff;font-size:12px;line-height:34px;float:right;margin-top:-44px;position:relative;z-index:1;border:none;padding:0 10px;}

footer{padding:15px 0;background:#333;color:#FFF;font-size:14px;border-top: 1px solid #3e3e3e;}
footer a:hover, footer a:active, footer a:focus{color:#FFF;}

.inner-heading{padding:90px 0 60px;border-bottom:6px solid #27B3E2;}

.event-box{margin-top:30px;}
.event-date{position:absolute;top:0;left:0;display:block;background:#1494B2;color:#FFF;font-size:24px;padding:10px 15px;text-align:center;text-transform:uppercase;}
.event-date span{display:block;}
.event-date2{display:inline-block;background:#1494B2;color:#FFF;font-size:24px;padding:10px 15px;text-align:center;text-transform:uppercase;float: left;margin-right:10px;width:82px;}
.event-date2 span{display:block;}
.event-text{background:#EEE;}
.event-text::after{content:'';clear:both;display:table;}
.event-text a{display:inline-block;width: calc(100% - 92px);float: left;margin-top: 10px;height: 60px;overflow: hidden;}

.pc-box{margin-top:30px;}

.form-holder{background:#FFF;border-radius:12px;padding:30px;box-shadow: 0 0 30px 0px #00000070;margin:30px 30px 0;}
.contact-form input,.contact-form textarea{width:100%;background:#dce2e1;padding:12px 15px;margin:14px 0;border:none;font-size:14px}
.career-form input, .career-form textarea {margin: 0;}
.contact-details .detail{display:block;font-size:15px}
.contact-details span{color:#0392b3;font-weight:700}
.map-wraper{overflow:hidden}
.map-wraper iframe{border:none;margin-top:10px}


/* responsive part */
@media(min-width:768px){

}
@media(min-width:992px){

.form-holder{padding:30px;box-shadow:0 0 30px 0px #00000070;margin:0 30px;}

	
.left-md-center{text-align:left !important;}
.right-md-center{text-align:right !important;}
.left-md-center img{margin-left:0;}
.right-md-center img{margin-right:0;}
.inline-img{float:right;margin-left:15px;max-width: 380px;}
.inline-slider{float:right;margin-left:15px;max-width:480px;}
.inline-video{width:50%;}

}
@media(min-width:1200px){

}